html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

:root {
  --page-bg-color: #f5f5f7;
  --gradient-start: #f7a2a1;
  --gradient-end: #ffed00;
  --avatar-border-color: #ffffff40;
  --button-color: #5fc52e;
  --button-color: #3eb489;
  --field-border-color: #d5d5d7;
  --field-radius: 4px;
  --radius: 12px;
}
/* 
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto; 
  */
body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  width: 800px;
  background-color: var(--page-bg-color);
}

.registrace {
  display: flex;
  
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  text-align: center;
  padding: 100px 30px;
  margin: 50px 0;
  background-image: linear-gradient(var(--gradient-end), var(--gradient-start));
  border-radius: 20px 0 0 20px;
}

img {
  border-radius: 50%;
  width: 50%;
  border: 10px solid var(--avatar-border-color)
}

.motto h1 {
  font-size: 1.5em;
}

.formular {
  width: 60%;
  padding: 50px;
  margin: 50px 0;
  background: white;
  border-radius: 0 20px 20px 0;
}

.formular__Jmeno {
  display: flex;
  gap: 15px;
}

.formular__Jmeno .formular__kolonka {
  flex-basis: calc((100%-15px) / 2);
  
}

.formular__kolonka label,
.formular__kolonka input {
  display: block;
}
.formular__kolonka input {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  padding: 1em;
  border: 1px solid var(--field-border-color)

}

.formular label {
  font-weight: bold;
  margin-bottom: 5px;
}

.formular__souhlas {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.formular__souhlas input[type="checkbox"] {
  width: 2em;
  height: 2em;
  accent-color: var(--field-border-color);
  border-color: var(--field-border-color);
}

.formular__tlacitko button {
  width: 100%;
  padding: 10px 0;
  background: var(--button-color);
  border: 0;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  
}







